<a href="https://colab.research.google.com/github/MARIAMLUCAS/mariam-lucas-fst-repo/blob/main/WDM_Assignment_Code0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Read Dataset from Drive
df = pd.read_csv('/content/drive/MyDrive/wdm_testing_code/vehicles.csv')

In [2]:
# Get number of rows and columns of dataset by using shape function 
df.shape

(426880, 26)

In [3]:
# display first 5 rows of the dataset
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [4]:
# check missing values
df.isnull().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

In [5]:
# handling unrequired columns and the missing values
df = df.drop(columns=['id','url','region',
'region_url','VIN','image_url','size','county','state','lat','long','posting_date','model'])

In [6]:
# display columns
df.columns

Index(['price', 'year', 'manufacturer', 'condition', 'cylinders', 'fuel',
       'odometer', 'title_status', 'transmission', 'drive', 'type',
       'paint_color', 'description'],
      dtype='object')

In [7]:
# getting info from dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         426880 non-null  int64
 1   year          425675 non-null  float64
 2   manufacturer  409234 non-null  object
 3   condition     252776 non-null  object
 4   cylinders     249202 non-null  object
 5   fuel          423867 non-null  object
 6   odometer      422480 non-null  float64
 7   title_status  418638 non-null  object
 8   transmission  424324 non-null  object
 9   drive         296313 non-null  object
 10  type          334022 non-null  object
 11  paint_color   296677 non-null  object
 12  description   426810 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 42.3+ MB

In [8]:
# Convert categorical variables to numerical ones
label_encoder = LabelEncoder()
df['manufacturer'] = label_encoder.fit_transform(df['manufacturer'].astype(str))
df['condition'] = label_encoder.fit_transform(df['condition'].astype(str))
df['cylinders'] = label_encoder.fit_transform(df['cylinders'].astype(str))
df['fuel'] = label_encoder.fit_transform(df['fuel'].astype(str))
df['title_status'] = label_encoder.fit_transform(df['title_status'].astype(str))
df['transmission'] = label_encoder.fit_transform(df['transmission'].astype(str))
df['drive'] = label_encoder.fit_transform(df['drive'].astype(str))
df['description'] = label_encoder.fit_transform(df['description'].astype(str))
df['type'] = label_encoder.fit_transform(df['type'].astype(str))
df['paint_color'] = label_encoder.fit_transform(df['paint_color'].astype(str))

In [9]:
null_val = df.isna().sum()
def na_filter(na, threshold = .55): # only select variables that passees the threshold
    col_pass = []
    for i in na.keys():
        if na[i]/df.shape[0]<threshold:
            col_pass.append(i)
    return col_pass
df = df[na_filter(null_val)]
df.columns

Index(['price', 'year', 'manufacturer', 'condition', 'cylinders', 'fuel',
       'odometer', 'title_status', 'transmission', 'drive', 'type',
       'paint_color', 'description'],
      dtype='object')

In [10]:
df.describe()

,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,description
count,4.268800e+05,425675.000000,426880.000000,426880.000000,426880.000000,426880.000000,4.224800e+05,426880.000000,426880.000000,426880.000000,426880.000000,426880.000000,426880.000000
mean,7.519903e+04,2011.235191,19.546472,2.388873,5.619003,2.097353,9.804333e+04,0.205845,0.511329,1.272786,6.547407,6.133712,182017.211987
std,1.218228e+07,9.452120,12.039234,1.595769,1.521943,0.982029,2.138815e+05,0.948026,1.069053,1.045125,3.939500,3.835933,106237.808930
min,0.000000e+00,1900.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.900000e+03,2008.000000,10.000000,1.000000,5.000000,2.000000,3.770400e+04,0.000000,0.000000,0.000000,4.000000,3.000000,90111.750000
50%,1.395000e+04,2013.000000,16.000000,2.000000,6.000000,2.000000,8.554800e+04,0.000000,0.000000,1.000000,6.000000,6.000000,177544.000000
75%,2.648575e+04,2017.000000,31.000000,4.000000,7.000000,2.000000,1.335425e+05,0.000000,0.000000,2.000000,10.000000,10.000000,277015.000000
max,3.736929e+09,2022.000000,42.000000,6.000000,8.000000,5.000000,1.000000e+07,6.000000,3.000000,3.000000,13.000000,12.000000,360911.000000

In [11]:
print(df.isnull().sum())

price              0
year            1205
manufacturer       0
condition          0
cylinders          0
fuel               0
odometer        4400
title_status       0
transmission       0
drive              0
type               0
paint_color        0
description        0
dtype: int64

In [12]:
df = df.dropna()

In [14]:
df.shape

(421344, 13)

In [15]:
print(df.isnull().sum())

price           0
year            0
manufacturer    0
condition       0
cylinders       0
fuel            0
odometer        0
title_status    0
transmission    0
drive           0
type            0
paint_color     0
description     0
dtype: int64

In [16]:
# Split the dataset into training and testing sets
X = df.drop(['type'], axis=1)
y = df['type']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [24]:
# Building a logistic regression model
logreg = LogisticRegression(max_iter=1000)
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
accuracy = logreg.score(X_test, y_test)
print('Accuracy:', accuracy)

Accuracy: 0.21669890469805028

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [25]:
# To calculate the precision, recall, and f1 score, we used the classification_report() function from sklearn.metrics.
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00     15265
           1       0.00      0.00      0.00       103
           2       0.00      0.00      0.00      1542
           3       0.00      0.00      0.00      3786
           4       0.00      0.00      0.00      3297
           5       0.00      0.00      0.00      1020
           6       0.21      0.82      0.33     18456
           7       0.00      0.00      0.00       112
           8       0.00      0.00      0.00      4291
           9       0.00      0.00      0.00      8462
          10       0.26      0.18      0.21     17113
          11       0.00      0.00      0.00      7025
          12       0.00      0.00      0.00      1657
          13       0.00      0.00      0.00      2140

    accuracy                           0.22     84269
   macro avg       0.03      0.07      0.04     84269
weighted avg       0.10      0.22      0.12     84269

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [26]:
# Building a Decision Tree Model
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(max_depth=5)
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)
accuracy = dt.score(X_test, y_test)
print('Accuracy:', accuracy)

Accuracy: 0.44740058621794493

In [27]:
# To calculate the precision, recall, and f1 score, we used the classification_report() function from sklearn.metrics.
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.42      0.56      0.48     15265
           1       0.00      0.00      0.00       103
           2       0.00      0.00      0.00      1542
           3       0.37      0.19      0.25      3786
           4       0.00      0.00      0.00      3297
           5       0.00      0.00      0.00      1020
           6       0.61      0.64      0.62     18456
           7       0.00      0.00      0.00       112
           8       0.43      0.05      0.09      4291
           9       0.41      0.39      0.40      8462
          10       0.37      0.68      0.48     17113
          11       0.60      0.21      0.31      7025
          12       0.00      0.00      0.00      1657
          13       0.00      0.00      0.00      2140

    accuracy                           0.45     84269
   macro avg       0.23      0.19      0.19     84269
weighted avg       0.41      0.45      0.40     84269

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [28]:
# Building a Naive Bayes Model
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(X_train, y_train)
y_pred = nb.predict(X_test)
accuracy = nb.score(X_test, y_test)
print('Accuracy:', accuracy)

Accuracy: 0.18087315620216213

In [29]:
# To calculate the precision, recall, and f1 score, we used the classification_report() function from sklearn.metrics.
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.18      1.00      0.31     15265
           1       0.00      0.00      0.00       103
           2       0.00      0.00      0.00      1542
           3       0.01      0.00      0.00      3786
           4       0.00      0.00      0.00      3297
           5       0.00      0.00      0.00      1020
           6       0.00      0.00      0.00     18456
           7       0.00      0.00      0.00       112
           8       0.00      0.00      0.00      4291
           9       0.00      0.00      0.00      8462
          10       0.08      0.00      0.00     17113
          11       0.22      0.00      0.00      7025
          12       0.00      0.00      0.00      1657
          13       0.00      0.00      0.00      2140

    accuracy                           0.18     84269
   macro avg       0.04      0.07      0.02     84269
weighted avg       0.07      0.18      0.06     84269

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))